.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/.name
.idea/gradle.xml
.idea/uiDesigner.xml
.idea/misc.xml
.idea/vcs.xml
*.jar
*.lock
*.bin
*.pom
*.log
native/12488b8bf47d2d4c9fbf2f6322a914ad602e24e48041cd04a747c6da556b65c4/windows-amd64/native-platform-file-events.dll
*.dll
*.zip
*.lck
*.ok
wrapper/dists/gradle-6.7-bin/efvqh8uyq79v2n7rcncuhu9sv/gradle-6.7/bin/gradle
*.bat
*.txt
wrapper/dists/gradle-6.7-bin/efvqh8uyq79v2n7rcncuhu9sv/gradle-6.7/LICENSE
wrapper/dists/gradle-6.7-bin/efvqh8uyq79v2n7rcncuhu9sv/gradle-6.7/NOTICE
wrapper/dists/gradle-6.7-bin/efvqh8uyq79v2n7rcncuhu9sv/gradle-6.7/README
desktop-tutorial/
Lectures/
.idea/compiler.xml
*.css
addressbook-web-tests/build/tmp/compileTestJava/source-classes-mapping.txt
*.xml
addressbook-web-tests/build/tmp/testContacts/jar_extract_7191514845349159202_tmp
addressbook-web-tests/build/tmp/test/jar_extract_204368439630147753_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_6079174682169135399_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8405859493603903403_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8830710760524902255_tmp
addressbook-web-tests/build/tmp/test/jar_extract_3389410736877281669_tmp
addressbook-web-tests/build/tmp/test/jar_extract_7098379913122848236_tmp
addressbook-web-tests/build/tmp/test/jar_extract_773013110652076882_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8262696185954718559_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8909908347667385178_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_1553600708878237374_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_2346806376672961749_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_3164881469911579681_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_446149116872444571_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_4624428240382797021_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_5013362117236568412_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_5049616746435590369_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_554831396784364097_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_6281252003799505395_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_6680304325163335779_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_7215683464404243596_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8355932790580473082_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8511272448398410757_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_994275341105283226_tmp
*.html
